name: Build and publish Main Avro Schema

on:
  push:
    branches:
      - main
    paths:
      - 'main-avro-schema/**'
      - 'arena-avro-schema/**'
      - '.github/workflows/build-and-publish_main_avro_schema.yaml'
env:
  IMAGE: europe-north1-docker.pkg.dev/nais-management-233d/paw/paw-arbeidssokerregisteret-api-schema-registry

jobs:
  build:
    name: Build maven artifacts
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write
    outputs:
      image: ${{ steps.build-with-gradle.outputs.image }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: temurin
          cache: gradle
      - name: Set schema minor version
        run: echo "SCHEMA_MINOR_VERSION=$(date +'%y.%m.%d').${{ github.run_number }}-${{ github.run_attempt }}" >> $GITHUB_ENV
      - name: Login GAR
        uses: nais/login@v0
        with:
          team: paw
      - name: Build with Gradle and Publish artifact
        id: build-with-gradle
        working-directory: ./
        run: |
          echo "(image med versjon)image=${{ env.IMAGE }}:${{ env.SCHEMA_MINOR_VERSION }}" 
          echo "image=${{ env.IMAGE }}:${{ env.SCHEMA_MINOR_VERSION }}" >> $GITHUB_OUTPUT
          ./gradlew -PschemaMinorVersion=${{ env.SCHEMA_MINOR_VERSION }} -Pimage=${{ env.IMAGE }} build test jib
          echo "DIGEST=$(cat schema-registry/build/jib-image.digest)" >> $GITHUB_ENV
        env:
          ORG_GRADLE_PROJECT_githubPassword: ${{ secrets.GITHUB_TOKEN }}
      - name: Attest and sign
        uses: nais/attest-sign@v1.5.22
        with:
          image_ref: ${{ env.IMAGE }}@${{ env.DIGEST }}

  verify-prod:
    name: Verify in prod-gcp
    permissions:
      contents: read
      id-token: write
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: schema-registry/nais-jobb.yaml
          VAR: image=${{ needs.build.outputs.image }},kafka=nav-prod,schema_domain=main

  publish:
    name: Publish maven artifacts
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: write
    needs: verify-prod
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: temurin
          cache: gradle
      - name: Set schema minor version
        run: echo "SCHEMA_MINOR_VERSION=$(date +'%y.%m.%d').${{ github.run_number }}-${{ github.run_attempt }}" >> $GITHUB_ENV
      - name: Build with Gradle and Publish artifact
        working-directory: ./
        run: |
          ./gradlew -PschemaMinorVersion=${{ env.SCHEMA_MINOR_VERSION }} -Pimage=${{ env.IMAGE }} :main-avro-schema:publish
          ./gradlew -PschemaMinorVersion=${{ env.SCHEMA_MINOR_VERSION }} -Pimage=${{ env.IMAGE }} :arena-avro-schema:publish
        env:
          ORG_GRADLE_PROJECT_githubPassword: ${{ secrets.GITHUB_TOKEN }}
